# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/
Recordings/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.unityproj

# Browser preview
.DS_Store
__pycache__/
*.pyc
